@model TestDotNetWebApp.Models.Category

@{
    ViewBag.Title = "Category Details";
}

<h2>Category Details</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderIndex)
        </dd>

    </dl>
</div>
<hr />
<h4>Sub Categories</h4>
<div>
    <table class="table">
        @foreach (var item in Model.SubCategories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.ActionLink("Details", "Index", "Catalog", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>
<hr />
<h4>Available Products</h4>
<div>
    <table class="table">
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sku)
                </td>

                <td>
                    @Html.ActionLink("Details", "Index", "Product", new { id = item.Id }, null)
                </td>
            </tr>
        }
        </table>
</div>

<p>
    @Html.ActionLink("Back to List", "Index","Home")
</p>
